.mirror-frame {
  margin: 1rem auto 0;
  width: min(460px, 80vw);
  aspect-ratio: 3 / 4;
  border-radius: 8px;
  position: relative;
  place-items: center;
  padding: 0.8rem;
  padding-top: 25px;
  background-color: #cc9e07;
  box-shadow: 0 0 0 10px #CD9D0055, 0 8px 22px rgba(0, 0, 0, 0.35);

  &__lightbulb {
    position: absolute;
    width: clamp(40px, 10vw, 56px);
  
    &--left {
      top:0;
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__video {
    width: 80%;
    aspect-ratio: 3 / 4;
    border-radius: 8px;
    overflow: hidden;
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 0.8rem;

    .photos-preview {
      grid-column: 3;
      justify-self: end;
    }
  }

  &__button {
    grid-column: 2;
    border-radius: 50%;
    cursor: pointer;
    height: 100px;
    background-color: #EEAC31;
    color: #FFFFFF;
    font-family: 'Irish Grover', cursive;
    box-shadow: 0 0 0 10px #CD9D0055, 0 8px 22px rgba(0, 0, 0, 0.35);
    font-size: 15px;
    font-weight: 800;
    border: none;

    &--disabled {
      cursor: default;
    }
  }
}
