.mirror-frame {
  margin: 1rem auto 0;
  width: min(460px, 80vw);
  aspect-ratio: 3 / 4;
  border-radius: 8px;
  position: relative;
  place-items: center;
  padding: 0.8rem;
  padding-top: 25px;
  background-color: #cc9e07;
  box-shadow: 0 0 0 10px #CD9D0055, 0 8px 22px rgba(0, 0, 0, 0.35);

  &__lightbulb {
    position: absolute;
    width: clamp(40px, 10vw, 56px);
  
    &--left {
      top:0;
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__silhouette {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%
  }

  &__video {
    width: 80%;
    aspect-ratio: 3 / 4;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
}
