.photos-preview {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: center;

  &__delete {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #EEAC31;
    color: #FFFFFF;
    font-family: 'Irish Grover', cursive;
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
  }

  &__photo {
    position: relative;
    width: 72px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;

    &:not(:first-child) {
      margin-right: -60px;
    }
  }
}
